#content {
  margin: auto;
}

.body {
  background-image: url(back.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body,html {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 60px;
  margin: 0 500px 8px 500px;
}


.subtext {
  font-size: 18px;
  font-style: italic;
}

h2 {
  font-size: 24px;
  margin: 40px 0 8px 0;
}

@font-face {
  font-family: sf;
  src: url(assets/fonts/SFCompactDisplay-Regular.otf);
}

body {
  font-family: "sans-serif;
}

/*
img {
  max-width: auto;
  height: 100%;
  position: relative;
}

.bg {
  background-image: url("edit1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
*/

h1, h2 {
  color: #FFFFFF;
}

#project-list {
  display: flex;                  /* Flex box */
  flex-direction: row;            /* Left to right */
  flex-wrap: wrap;                /* Wrap content */
  justify-content: space-between; /* Spread space */
}

@-ms-viewport{
  width: device-width;
}

.project {
  flex: 0 0 140px;                /* No grow/shrink, 140px width */
  height: 140px;
  margin-bottom: 10px;
  background-color: #7AA3CC;
}

.project {
  transition: 0.2s background-color; /* add this */
}

.project:hover {
  background-color: #0066CC;
}
