* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}


.page1 {
    background: linear-gradient(-90deg, #fe5f75, #fc9842);
    padding: 20pt;
}

.page2 {
    background: white;
    /* linear-gradient(-90deg, #fffcff, #d5fefd); */
    height: 100%;
    width: 100%;
    font-size: 30pt;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.page3 {
    background: #083045;
    font-size: 30pt;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
}

.uni {
    color: #FFD54F;
}

.math {
    color: #DF2498;
}

.goba {
    color: #72b840
}

.sf {
    color: #0088ce;
}

.list--education {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 80%;
}

.list--work {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80%;
}

.signoff {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.sign {
    position: absolute;
    left: 25%;
    bottom: 20px;
}

.education {
    padding: 20pt;
}

.work {
    padding: 20pt;
}

.topnav {
    font-size: 25pt;
    color: black;
    white-space: nowrap;
    width: 100%;
    font-family: 'Poppins';
}

.fp-enabled .topnav {
    position: absolute;
    top: 50px;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 10pt;
}

.right {
    display: inline-block;
    position: absolute;
    right: 50px;
    opacity: 0;
    animation: fade-right ease 0.4s forwards;
    animation-delay: 0.8s;
    padding: 20pt;
}

.left {
    opacity: 0;
    display: inline-block;
    animation: fade-right ease 0.4s forwards;
    padding: 20pt;
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.line {
    display: inline-block;
    width: 38%;
    height: 4pt;
    vertical-align: middle;
    background-color: black;
    border: none;
    margin: 7;
    transform: scaleX(0pt);
    transform-origin: left;
    animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
    animation-delay: 0.4s;
    opacity: 0;
}

@keyframes grow-left {
    from {
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

.intro-arrow {
    -webkit-animation: bounce 1s infinite linear;
    padding: 10px;
}

.intro-text {
    padding: 45px;
    position: absolute;
    font-size: 45px;
    font-weight: bold;
    bottom: 10%;
    -webkit-animation: fade-top ease 0.4s forwards;
    animation-delay: 1.2s;
    opacity: 0;
    margin: auto;
    font-family: 'Poppins';
}

@keyframes fade-top {
    from {
        opacity: 0;
        /* transform: translate(40%, 290%); */
    }
    to {
        opacity: 1;
        /* transform: translate(40%, 300%); */
    }

}

@keyframes bounce {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(0);
    }
}

.item {
    visibility: hidden;
}

@media only screen and (max-width: 414px) {
    .line {
        visibility: hidden;
    }
    .right {
        visibility: hidden;
    }
    .item {
        visibility: visible;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }
    .menu {
        display: inline-block;
        right: 20pt;
        position: absolute;
        padding: 20pt;
    }
    .page2 {
        font-size: 15pt;
    }
    .list--work {
        font-size: 24pt;
        width: 90%;
    }
    .sign {
        left: 10%;
    }
    .signoff {
        font-size: 20pt;
    }
    .intro-text {
        font-size: 40px;
        bottom: 20px;
    }
}

@media only screen and (max-width: 340px) {
    .page2 {
        font-size: 15px;
    }
    .list--work {
        font-size: 17pt;
        width: 90%;
    }
    .sign {
        left: 10%;
    }
    .signoff {
        font-size: 17pt;
    }
    .intro-text {
        font-size: 30px;
    }
}


@media only screen and (max-width: 1024px) {
    .line {
        width: 0%;
    }
    .right {
        right: 150px;
    }
}